<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<!-- GoogleSignIn OAuth リダイレクト用 URL Scheme。
	     REVERSED_CLIENT_ID は Firebase Console からダウンロードした
	     GoogleService-Info.plist の値に置き換えること。 -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>REPLACE_WITH_REVERSED_CLIENT_ID</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
